<!-- <div>
    <div>
      <button [disabled]="isTracking" class="btn btn-primary" (click)="findMe()">Find me</button>
      <button class="btn btn-primary" (click)="trackMe()">Track me</button>
    </div>
    <div class="text-white">
      <span>Latitude: {{currentLat}}</span>
      <span>Longitude: {{currentLong}}</span>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3>
            <div #gmap style="width:100%;height:300px"></div>
          </h3>
        </div>
      </div>
    </div>
</div> -->
<div id="mario-chat">
    <h2>{{ username }}</h2>
    <span><i *ngIf="isTyping" class="isTyping">typing...</i></span>
    <div id="chat-window">
        <div *ngFor="let item of messageArray">
            <p [class.userMessage] = "item.fromId == currentUser.userID" [class.secUserMessage]="item.fromId != currentUser.userID">
                <span *ngIf="item.messageType === 'text'">{{ item.message }}</span>
                <span *ngIf="item.messageType === 'image'"><img src="{{item.message}}" width="20%"></span>
                <span *ngIf="item.messageType === 'audio'">
                    <audio src="{{item.message}}" type="audio/wav" controls>
                        Your browser does not support the audio tag.
                      </audio>
                </span>
                <span *ngIf="item.messageType === 'location'">
                  <div id={{item.communication}}  style="width:500px;height:300px"></div>
                </span>

    
            </p>                
        </div>
        <!-- <div id="feedback"></div> -->
    </div>
    <form name="chatForm">

    <input (keypress)="typing()" [(ngModel)]="message" name="message" type="text" placeholder="Message" />            
    

    <div class="image-upload">
        <label for="file-input">
            <img src="https://goo.gl/pB9rpQ"/>
        </label>
    
        <input id="file-input" #file type="file" accept='image/*'  (change)="preview(file.files)"/>
    </div>
    <!-- <div *ngIf='last'>
        <a style="    background-color: rgba(220, 53, 69, 0.5);
        cursor: pointer;" (click)=voiceMessage()>Audio Chat</a>
    </div>

    <div *ngIf='!last'>
        <a style="    background-color: rgba(220, 53, 69, 0.5);
        cursor: pointer;" (click)="endCall()">End Chat</a>
    </div> -->

    <div *ngIf='stopStream'>
        <a style="    background-color: rgba(220, 53, 69, 0.5);
        cursor: pointer;" (click)="realTimeVoiceMessage()">Audio Stream</a>
    </div>

    <div *ngIf='!stopStream'>
        <a style="    background-color: rgba(220, 53, 69, 0.5);
        cursor: pointer;" (click)="endVoiceMessage()">End Audio Stream</a>
    </div>

    <a class="btn btn-primary" [ngClass]="{'disabled': isTracking}" (click)="findMe()">Track me</a>

    <button id="send" (click)="sendMessage()">Send</button>    
    </form>
    
</div>